@namespace PlcHammer
@inherits RenderableComplexComponentBase<VortexComponent>

<div class="border rounded p-2">
    <h4>VortexComponent</h4>
    <RenderableContentControl Context="@Component" Presentation="Control"></RenderableContentControl>
</div>

@code {

}
