@page "/renderIgnore"

<h3>Basic RenderIgnore</h3>

<h4>Presentation Display</h4>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._renderIgnoreTests._renderIgnore_basic" Presentation="Display"></RenderableContentControl>

<h4>Presentation Control</h4>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._renderIgnoreTests._renderIgnore_basic" Presentation="Control"></RenderableContentControl>

<h4>Presentation ShadowDisplay</h4>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._renderIgnoreTests._renderIgnore_basic" Presentation="ShadowDisplay"></RenderableContentControl>

<h4>Presentation ShadowControl</h4>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._renderIgnoreTests._renderIgnore_basic" Presentation="ShadowControl"></RenderableContentControl>

<h4>Presentation ShadowControl-Display</h4>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._renderIgnoreTests._renderIgnore_basic" Presentation="ShadowControl-Display"></RenderableContentControl>

@code {

}
