@page "/border"

<h3>Basic Border layout</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._borderLayout" Presentation="Control"></RenderableContentControl>

<h3>Border to other layouts</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._border_other" Presentation="Control"></RenderableContentControl>

@code {

}
