@page "/groupBox"

<h3>Basic GroupBox layout</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._groupBoxLayout" Presentation="Control"></RenderableContentControl>

<h3>GroupBox to other layouts</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._groupBox_other" Presentation="Control"></RenderableContentControl>

@code {

}
