@using System;
@using System.IO;
@using VortexBlazor.Pages.MultipleNestedPages

@page "/multiple_nested"

<h2>Multiple layouts nested</h2>

<hr />

<div class="text-center mb-2">
    <button class="btn btn-sm" data-toggle="collapse" data-target="#menuCollapse" aria-expanded="true">Collapse menu</button>
</div>

<div class="collapse show rounded" id="menuCollapse" style="background-color: #f7f7f7">
    <ul>
        @foreach (var file in files)
        {
            <li>
                <a @onclick="() => SetOption(file)" @onclick:preventDefault="true" href="@($"/multiple_nested/{file}")">@file</a>
            </li>
        }
    </ul>
</div>

@switch (selectedType)
{
    //TODO
    case "Tabs-other":
        <Tabs_other/>
        break;
}

@code {
    private IEnumerable<string> files = from file in new List<string>(Directory.GetFiles(@"Pages\MultipleNestedPages", "*.razor")) select Path.GetFileNameWithoutExtension(file);

    private string selectedType;

    private void SetOption(string s)
    {
        selectedType = s;
    }
}
