@page "/scroll"

<h3>Basic Scroll layout</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._scrollLayout" Presentation="Control"></RenderableContentControl>

<h3>Scroll to other layouts</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._scroll_other" Presentation="Control"></RenderableContentControl>

@code {

}
