@page "/stack"

<h3>Basic Stack layout</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._stackLayout" Presentation="Control"></RenderableContentControl>

<h3>Stack to other layouts</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._stack_other" Presentation="Control"></RenderableContentControl>

@code {

}
