@page "/stack"

<h2>Stack layout</h2>

<hr />

<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._stackLayout" Presentation="Control"></RenderableContentControl>

@code {

}
