@page "/tabs"

<h3>Basic Tabs layout</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._tabsLayout" Presentation="Control"></RenderableContentControl>

<h3>Tabs to other layouts</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._tabs_other" Presentation="Control"></RenderableContentControl>

@code {

}
