@page "/tabs"

<h2>Tabs layout</h2>

<hr/>

<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._tabsLayout" Presentation="Control"></RenderableContentControl>

@code {

}
