@page "/uniformgrid"

<h3>Basic UniformGrid layout</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._uniformGridLayout" Presentation="Control"></RenderableContentControl>

<h3>Uniform to other layouts</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._ug_other" Presentation="Control"></RenderableContentControl>

@code {

}