@page "/wrap"

<h2>Wrap layout</h2>

<hr />

<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._wrapLayoutTests" Presentation="Control"></RenderableContentControl>

@code {

}
