@page "/wrap"

<h3>Basic Wrap layout</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._wrapLayout" Presentation="Control"></RenderableContentControl>

<h3>Wrap to other layouts</h3>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._layoutTests._wrap_other" Presentation="Control"></RenderableContentControl>

@code {

}
