@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row" style="justify-content: center">
            <p class="h4 m-0"><small class="text-muted">VortexBlazor</small></p>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
