<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RCC tester</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <hr class="m-0 text-white" />

    <h6 class="mt-2 mb-0 text-center text-white font-weight-light">Layouts</h6>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/stack">
                <span class="oi oi-justify-left" aria-hidden="true"></span> Stack
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/uniformGrid">
                <span class="oi oi-ellipses" aria-hidden="true"></span> UniformGrid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/wrap">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wrap
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tabs">
                <span class="oi oi-expand-down" aria-hidden="true"></span> Tabs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/border">
                <span class="oi oi-project" aria-hidden="true"></span> Border
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/groupBox">
                <span class="oi oi-box" aria-hidden="true"></span> GroupBox
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/scroll">
                <span class="oi oi-elevator" aria-hidden="true"></span> Scroll
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/multipleNested">
                <span class="oi oi-random" aria-hidden="true"></span> Multiple nested
            </NavLink>
        </li>
    </ul>

    <hr class="m-0 text-white" />

    <h6 class="mt-2 mb-0 text-center text-white font-weight-light">RenderIgnore</h6>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/renderIgnore">
                <span class="oi oi-cloudy" aria-hidden="true"></span>Basic RenderIgnore
            </NavLink>
        </li>
    </ul>

    <hr class="m-0 text-white" />

    <h6 class="mt-2 mb-0 text-center text-white font-weight-light">Custom Libraries</h6>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/customLibrary_codeBehind">
                <span class="oi oi-book" aria-hidden="true"></span>with code-behind
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/customLibrary_viewModel">
                <span class="oi oi-book" aria-hidden="true"></span>with ViewModel
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
