@page "/customLibrary_viewModel"

<h3>CustomLibrary_ViewModel</h3>

<hr />

<p>Presentation="Info-Base-Model"</p>
<RenderableContentControl Context="@Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation="Info-Base-Model"></RenderableContentControl>

<hr />

<p>Presentation="LOL"</p>
<RenderableContentControl Context="@Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation="LOL"></RenderableContentControl>

<hr />

<p>Presentation="Display--Info"</p>
<RenderableContentControl Context="@Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation="Display--Info"></RenderableContentControl>

@code {

}
