@page "/customLibrary_codeBehind"

<h3>CustomLibrary_CodeBehind</h3>

<hr />

<p>Presentation="ShadowControl-Display-Manual"</p>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation="ShadowControl-Display-Manual"></RenderableContentControl>

<br />

<p>Presentation=""</p>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation=""></RenderableContentControl>

<br />

<p>Presentation="Base"</p>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation="Base"></RenderableContentControl>

<br />

<p>Presentation="Base-Manual"</p>
<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation="Base-Manual"></RenderableContentControl>

@code {

}
