@page "/customLibrary_codeBehind"

<h3>CustomLibrary_CodeBehind</h3>

<RenderableContentControl Context="Entry.PlcHammer.TECH_MAIN._app._station001._vortexComponent" Presentation="ShadowControl-Display-Manual"></RenderableContentControl>

@code {

}
